{% extends 'base.html.twig' %}

{% block title %}{% if editMode %}Edit{% else %}Add{% endif %} Robot{% endblock %}

{% block body %}
    <div class="container">
        <a class="float-end" href="{{ path('app_homepage') }}">Back to the list</a>
        <h1>{% if editMode %}Edit{% else %}Add{% endif %} Robot</h1>

        {% if editMode %}
        {% set id = form.vars.value.id %}
        {% endif %}



        {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.name, 'Name', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.type, 'Type', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.power, 'Power', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.power, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary">{% if editMode %}Save changes{% else %}Create{% endif %}</button>
        {{ form_end(form) }}

        {% if editMode %}
        <form action="{{ path('robot_delete', {'id': id}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this robot?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
            <button type="submit" class="btn btn-danger float-end">Delete</button>
        </form>
        {% endif %}

    </div>
{% endblock %}